body {
  font-family: Verdana, Geneva, Arial, helvetica, sans-serif; font-size: 17px;
    background: #e1e1e1;
}
.wrapper {
    width: 98.8992%;
    
}
.clearme {
    clear:both;
}
select {   
   height: 26px;   
   font-size: 14px;
   line-height: 1;
    padding:3px;

   border: thin solid #999;
    border-radius: 2px;
    cursor: pointer;
   
}
table {border: 3px solid #fafafa; }
td {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif; font-size: 15px; 
}
.monthview { width: 100%; padding: 0; }


th {
	background-color: #eaffff; font-family: Verdana, Geneva, Arial, helvetica, sans-serif; font-size: 15px; 
padding: 2px; color : #301000; text-align: center; font-weight: 500;
}

.toprightnumber {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif; font-size: 15px; font-weight: bold;	
}
/* --------------- fixed details not wide enough ------------------ */
.eventinbox {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif; font-size: 12px; 

}
.currentdate {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif; font-size: 17px; font-weight: bold;
    color: white; width: 96%; margin: 0 auto; text-align: center;
}
.centered {
    text-align: center; margin:0 auto; }
.monthyear { 
    width:28%; border:2px solid #aabbaa; margin:0 auto; padding:0; text-align: center;}
.mainbox {
    width:98.9882%; border:0; text-align:center; padding:0; margin:0 auto; background:transparent}


a:link,a:active,a:visited {color: #000; text-decoration: none; border-bottom:thin dotted #aaa;}
a:hover	{text-decoration: underline; color: green; border-bottom: 0;}

.toprightnumber a:link, .toprightnumber a:active, .toprightnumber a:visited {
    display: block; max-width: 1.232em;
    margin:2px; padding: 2px; color: blue; 
    text-decoration: overline; border: 1px solid #9a3; 
    border-radius: 2px; 
}
.toprightnumber a:hover	{
	text-decoration: underline; color: green;
}
.footer {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif; font-size: 10px;
}
td.beforedayboxes {
	background-color: #dddddd; color: #000000;
}
td.dayboxes {
	background-color: #fcfcfc; color: #222222;
}
td.afterdayboxes {
	background-color: #dddddd; color: #000000;
}
td.highlighteddayboxes {
	background-color: #fafaaa; color: #000000;
}
.left {
    display:block;
    text-align: left;
    margin-top: -9px;
    white-space: nowrap;
}
.left td { 

}

.event {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif; font-size: 12px; font-weight: bold;
    color: #afffff;
}
.eventdetail {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif; font-size: 14px;color: white;
}
.eventwhen {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif; font-size: 15px; font-weight: bold;color: white;
}
.addevent {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif; font-size: 11px; font-weight: bold;color: white;
}
.addeventextrainfo {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif; font-size: 10px;color: white;
}
.button1 { display:inline; min-height: 22px; width: 280px; background: #fafaaa; border:thin solid blue; border-radius: 4px;
    padding:3px; font-size: 16px;}